In [19]:
#Crear una lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Acceder a los elementos de una lista
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

#índices negativos
print('The last planet is', planets[-8])
print('The last planet is', planets[-1])

#Modificar los valores de una lista mediante el índice
planets[3] = 'Red planet'
print('Mars is also known as', planets[3])

The first planet is Mercury
The second planet is Venus
The third planet is Earth
The last planet is Mercury
The last planet is Neptune
Mars is also known as Red planet

In [9]:
#Determinar la longitudad de una lista

numberOfPlanets = len(planets)
print('There are', numberOfPlanets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [18]:
#Agregar valores a la lista >> .append(value)
planets.append('Pluto')
numberOfPlanets = len(planets)
print(planets, 'There are actually', numberOfPlanets, 'planets in the solar system.')

#Eliminar valores de una lista >> .pop() >> Elimina el último valor de la lista
planets.pop() #Goodbye, Pluto
numberOfPlanets = len(planets)
print(planets, 'There are actually', numberOfPlanets, 'planets in the solar system.')

['Mercury', 'Venus', 'Earth', 'Red planet', 'Jupiter', 'Saturn', 'Uranus', 'Uranus', 'Pluto'] There are actually 9 planets in the solar system.
['Mercury', 'Venus', 'Earth', 'Red planet', 'Jupiter', 'Saturn', 'Uranus', 'Uranus'] There are actually 8 planets in the solar system.

In [22]:
#Buscae un valor en una lista
jupiterIndex = planets.index('Jupiter')
print(jupiterIndex)
print('Jupiter is the', jupiterIndex + 1, 'planet from the sun')

4
Jupiter is the 5 planet from the sun

In [24]:
#Almacenar números en listas
gravityOnEarth = 1.0
gravityOnTheMoon = 0.166
gravityOnPlanets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

0.378
0.907

In [26]:
busWeight = 12650 #in kilograms, on Earth

print('On Earth, a double-decker bus weighs', busWeight, 'kg' )
print('The lightest a bus would be in the solar system is', busWeight * min(gravityOnPlanets), 'kg' )
print('The heaviest a bus would be in the solar system is', busWeight * max(gravityOnPlanets), 'kg' )

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [41]:
#Manipular datos de lista
#slice >> crea una nueva lista. No modifica la lista actual 
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planetsBeforeEarth = planets[0:2]
#planetsAfterEarth = planets[3:8]
planetsAfterEarth = planets[3:]

print(planets)
print(planetsBeforeEarth)
print(planetsAfterEarth)

['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [42]:
#Uniendo listas
amaltheaGroup = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galileanMoons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regularSatelliteMoons = amaltheaGroup + galileanMoons
print('The regular satellite moons of Jupiter are', regularSatelliteMoons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [44]:
#Ordenar listas >> sort()
#Ordenar lista
regularSatelliteMoons.sort()
print('The regular satellite moons of Jupiter are', regularSatelliteMoons)

#Ordenar lista en forma inversa >> .sort(reverse=True)
regularSatelliteMoons.sort(reverse=True)
print('The regular satellite moons of Jupiter are', regularSatelliteMoons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']